body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

div.menu {
    background-color: white;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    top: 0;
    padding: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

img.logo {
    width: 125px;
    height: 90px;
    margin-right: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a.menu-link {
    color: black;
    text-decoration: none;
    padding: 0 15px;
}

nav a.menu-link:hover {
    text-decoration: underline;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #afcfdd;
    color: #fff;
    padding-top: 120px;
    min-height: 70px;
    border-bottom: #77aaff 3px solid;
    border-bottom: #77aaff 3px solid;
}

header h1 {
    color: #000;
    text-align: center;
    margin: 0;
    font-size: 24px;
}

.info-contatos {
    background-color: #afcfdd; /* Cor única para o fundo */
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%; /* Garante que ocupe toda a largura */
}


.info-contatos h2 {
    margin-top: 0;
}

.info-contatos p {
    margin: 5px 0;
}

.form-container {
    background: #afcfdd;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container form input,
.form-container form textarea {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container form button {
    padding: 10px;
    font-size: 16px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container form button:hover {
    background: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 400px;
}

.btn-cadastro {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #0056b3;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-cadastro:hover {
    background-color: #00408d;
}
